/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";

s|View {
	backgroundColor: #425058;
	backgroundAlpha: 0.3;
}

s|ActionBar {
	chromeColor: #425058;
}

s|List {
	alternatingItemColors: #ffffff, #f5f5f5;
}

s|Label.frameworkInfo {
	paddingTop: 5;
	paddingLeft: 5;
}

